{% if locale == "ja" %}

<h5>トップ</h5>
<ul>
  <li><a href="#introduction">Facebook4Jとは？</a></li>
  <li><a href="#system_requirements">システム要件</a></li>
  <li><a href="#how_to_install">導入方法</a></li>
  <li><a href="#how_to_use">使い方</a></li>
  <li><a href="#supported">サポートしているAPI</a></li>
  <li><a href="#not_supported_yet">まだサポートしていないAPI</a></li>
  <li><a href="#license">ライセンス</a></li>
</ul>

{% else %}

<h5>Main</h5>
<ul>
  <li><a href="#introduction">Introduction</a></li>
  <li><a href="#system_requirements">System Requirements</a></li>
  <li><a href="#how_to_install">How To Install</a></li>
  <li><a href="#how_to_use">How To Use</a></li>
  <li><a href="#supported">Supported</a></li>
  <li><a href="#not_supported_yet">NOT Supported yet</a></li>
  <li><a href="#license">License</a></li>
</ul>

{% endif %}
