{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if locale == "" %}{% assign locale = "en" %}{% endif %}
{% capture current_html %}{{ page.url | remove: "/en/" | remove: "/ja/" }}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta property="og:title" content="Facebook4J - A Java library for the Facebook Graph API" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://facebook4j.org" />
    <meta property="og:image" content="http://facebook4j.org/images/ogp.png" />
    <meta property="og:site_name" content="Facebook4J" />
    <meta property="og:description" content="Facebook4J is a Java library for the Facebook Graph API. This library provides the ease of use like Twitter4J. Facebook4J is an unofficial library." />
    <meta property="fb:app_id" content="111395829012721" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap_overrides.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
  <div id="fb-root"></div>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">{{ site.name }}</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="sidebar">
        <div class="well">
         {% if locale == "ja" %}
          <div style="text-align:center"><a id="lang-link" href="../en/{{ current_html }}">English</a> | Japanese</div>
         {% else %}
          <div style="text-align:center">English | <a id="lang-link" href="../ja/{{ current_html }}">Japanese</a></div>
         {% endif %}
          <br />

          {% include sidebar.html %}

        </div>
      </div>

      <div class="content">

        {% if current_html == "index.html" %}
        <div class="hero-unit">
          <div class="row">
            <div class="span5">
              <img src="/images/hero2.png" />
            </div>
            <div>
              <h1>Facebook4J</h1>
              <p><h2>A most easily usable Facebook API wrapper in Java. </h2><br /><br />Facebook4J is an open-sourced, mavenized Java library.<br />With Facebook4J, you can easily integrate your application with the Facebook API.<br />Facebook4J is an unofficial library.</p>
              <div>
                <div style="float:left;" class="fb-like" data-href="http://facebook4j.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
              </div>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
        <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- facebook4j.org -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-2143283667453827"
             data-ad-slot="7629585392"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}

        <div class="main">
          {{ content }}
        </div>
      </div>

      <footer>
        <p>Built with <a href="http://ckrack.github.com/fbootstrapp/">Fbootstrapp</a></p>
      </footer>
    </div> <!-- /container -->

    {% include social.html %}
    {% include analytics.html %}
  </body>
</html>
